.row
  .col-xs-12.col-sm-6.col-md-4.col-lg-4
    .article-title.relative
      %img{ src: image_path('spanner-2.png') }
      %span
        ВАННЫЕ КОМНАТЫ
      .left-shadow
      .right-shadow
    .article-body
      Ремонтируем ванные. Нажмите здесь, чтобы отредактировать его и добавить свой текст.
      Это место отлично подходит, чтобы рассказать пользователям о себе.
  .col-xs-12.col-sm-6.col-md-4.col-lg-4
    .article-title.relative
      %img{ src: image_path('hammer.png') }
      %span
        СТОЛЯРНЫЕ РАБОТЫ
      .left-shadow
      .right-shadow
    .article-body
      Мы выполняем работы по дереву. Нажмите здесь, чтобы отредактировать его и добавить свой текст.
      Это место отлично подходит, чтобы рассказать пользователям о себе.
  .col-xs-12.col-sm-6.col-md-4.col-lg-4
    .article-title.relative
      %img{ src: image_path('pliers.png') }
      %span
        ДВЕРИ
      .left-shadow
      .right-shadow
    .article-body
      Мы устанавливаем и чиним двери. Нажмите здесь, чтобы отредактировать его и добавить свой текст.
      Это место отлично подходит, чтобы рассказать пользователям о себе.
  .col-xs-12.col-sm-6.col-md-4.col-lg-4
    .article-title.relative
      %img{ src: image_path('auto-screwdriver.png') }
      %span
        ЭЛЕКТРИКА
      .left-shadow
      .right-shadow
    .article-body
      Чиним электрику. Нажмите здесь, чтобы отредактировать его и добавить свой текст.
      Это место отлично подходит, чтобы рассказать пользователям о себе.
  .col-xs-12.col-sm-6.col-md-4.col-lg-4
    .article-title.relative
      %img{ src: image_path('scraper.png') }
      %span
        НАПОЛЬНЫЕ ПОКРЫТИЯ
      .left-shadow
      .right-shadow
    .article-body
      Ремонтируем полы. Нажмите здесь, чтобы отредактировать его и добавить свой текст.
      Это место отлично подходит, чтобы рассказать пользователям о себе.
  .col-xs-12.col-sm-6.col-md-4.col-lg-4
    .article-title.relative
      %img{ src: image_path('spanner-1.png') }
      %span
        КУХНИ
      .left-shadow
      .right-shadow
    .article-body
      Мы ремонтируем кухни. Нажмите здесь, чтобы отредактировать его и добавить свой текст.
      Это место отлично подходит, чтобы рассказать пользователям о себе.
  .col-xs-12.col-sm-6.col-md-4.col-lg-4
    .article-title.relative
      %img{ src: image_path('brash.png') }
      %span
        ПОКРАСКА
      .left-shadow
      .right-shadow
    .article-body
      Мы производим покрасочные работы. Нажмите здесь, чтобы отредактировать его и добавить свой текст.
      Это место отлично подходит, чтобы рассказать пользователям о себе.
  .col-xs-12.col-sm-6.col-md-4.col-lg-4
    .article-title.relative
      %img{ src: image_path('screwdriver.png') }
      %span
        ОКНА
      .left-shadow
      .right-shadow
    .article-body
      Чиним окна. Нажмите здесь, чтобы отредактировать его и добавить свой текст.
      Это место отлично подходит, чтобы рассказать пользователям о себе.