.row.welcome-block
  .col-xs-12
    %h2
      ДОБРО ПОЖАЛОВАТЬ
    %p
      Это текст. Нажмите здесь, чтобы отредактировать его и добавить свой текст. Сделать это просто: нажмите
      «Редактировать текст» либо дважды нажмите на сам текст – и можете вставлять свое содержимое и задавать шрифт.
      Если хотите, его можно перетащить в любое место на странице. Это место отлично подходит, чтобы рассказать
      пользователям о себе.
.row
  .col-xs-12
    .article-title
      %img{ src: image_path('spanner-2.png') }
      %span
        ВАННЫЕ КОМНАТЫ
    .article-body
      Ремонтируем ванные. Нажмите здесь, чтобы отредактировать его и добавить свой текст.
      Это место отлично подходит, чтобы рассказать пользователям о себе.
  .col-xs-12
    .article-title
      %img{ src: image_path('hammer.png') }
      %span
        СТОЛЯРНЫЕ РАБОТЫ
    .article-body
      Мы выполняем работы по дереву. Нажмите здесь, чтобы отредактировать его и добавить свой текст.
      Это место отлично подходит, чтобы рассказать пользователям о себе.
  .col-xs-12
    .article-title
      %img{ src: image_path('pliers.png') }
      %span
        ДВЕРИ
    .article-body
      Мы устанавливаем и чиним двери. Нажмите здесь, чтобы отредактировать его и добавить свой текст.
      Это место отлично подходит, чтобы рассказать пользователям о себе.
  .col-xs-12
    .article-title
      %img{ src: image_path('auto-screwdriver.png') }
      %span
        ЭЛЕКТРИКА
    .article-body
      Чиним электрику. Нажмите здесь, чтобы отредактировать его и добавить свой текст.
      Это место отлично подходит, чтобы рассказать пользователям о себе.
  .col-xs-12
    .article-title
      %img{ src: image_path('scraper.png') }
      %span
        НАПОЛЬНЫЕ ПОКРЫТИЯ
    .article-body
      Ремонтируем полы. Нажмите здесь, чтобы отредактировать его и добавить свой текст.
      Это место отлично подходит, чтобы рассказать пользователям о себе.
  .col-xs-12
    .article-title
      %img{ src: image_path('spanner-1.png') }
      %span
        КУХНИ
    .article-body
      Мы ремонтируем кухни. Нажмите здесь, чтобы отредактировать его и добавить свой текст.
      Это место отлично подходит, чтобы рассказать пользователям о себе.
  .col-xs-12
    .article-title
      %img{ src: image_path('brash.png') }
      %span
        ПОКРАСКА
    .article-body
      Мы производим покрасочные работы. Нажмите здесь, чтобы отредактировать его и добавить свой текст.
      Это место отлично подходит, чтобы рассказать пользователям о себе.
  .col-xs-12
    .article-title
      %img{ src: image_path('screwdriver.png') }
      %span
        ОКНА
    .article-body
      Чиним окна. Нажмите здесь, чтобы отредактировать его и добавить свой текст.
      Это место отлично подходит, чтобы рассказать пользователям о себе.

.row.testimonials
  .col-xs-12
    .testimonial-1
      %p.content
        «Это текст. Нажмите здесь, чтобы отредактировать его и добавить свой текст.
        Сделать это просто: нажмите «Редактировать текст» либо дважды нажмите на сам
        текст – и можете вставлять свое содержимое и задавать шрифт. Это место отлично
        подходит, чтобы рассказать пользователям немного о себе.»
      %span.author
        Иван Сидоров, Киев
  .col-xs-12
    .testimonial-2
      %p.content
        «Это текст. Нажмите здесь, чтобы отредактировать его и добавить свой текст.
        Сделать это просто: нажмите «Редактировать текст» либо дважды нажмите на сам
        текст – и можете вставлять свое содержимое и задавать шрифт. Это место отлично
        подходит, чтобы рассказать пользователям немного о себе.»
      %span.author
        Иван Сидоров, Киев