!!!
%html
  %head
    %title ConstructionCard
    %meta{charset: 'UTF-8'}
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header.header
      .container-fluid
        .row
          .col-xs-12.col-md-6.top-header.relative
            .row
              .col-xs-9.col-sm-12.left-header-content
                %img{ src: image_path('roof.png') }
                .title
                  %span.title-container
                    %span.red-color
                      ​ЗОЛОТЫЕ
                    %span.dark-gray-color
                      РУКИ
                  .sub-title.color-14
                    Вся суть в деталях

            .dropdown
              %button#dropdownMenu2.btn.btn-default.dropdown-toggle{ "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                %svg.open_icon{"data-reactid" => ".0.$SITE_ROOT.$mobile_siteRoot.$SITE_HEADER.1.1.$TINY_MENU.0.0", :preserveaspectratio => "none", :viewbox => "0 0 17 17"}
                  %line{"data-reactid" => ".0.$SITE_ROOT.$mobile_siteRoot.$SITE_HEADER.1.1.$TINY_MENU.0.0.0", :x2 => "17", :y1 => "0.5", :y2 => "0.5"}
                  %line{"data-reactid" => ".0.$SITE_ROOT.$mobile_siteRoot.$SITE_HEADER.1.1.$TINY_MENU.0.0.1", :x2 => "17", :y1 => "8.5", :y2 => "8.5"}
                  %line{"data-reactid" => ".0.$SITE_ROOT.$mobile_siteRoot.$SITE_HEADER.1.1.$TINY_MENU.0.0.2", :x2 => "17", :y1 => "16.5", :y2 => "16.5"}
                %svg.close_icon{"data-reactid" => ".0.$SITE_ROOT.$mobile_siteRoot.$SITE_HEADER.1.1.$TINY_MENU.0.1", :viewbox => "14.25 14.25 21.5 21.5"}
                  %line{"data-reactid" => ".0.$SITE_ROOT.$mobile_siteRoot.$SITE_HEADER.1.1.$TINY_MENU.0.1.0", :x1 => "35.75", :x2 => "14.25", :y1 => "14.25", :y2 => "35.75"}
                  %line{"data-reactid" => ".0.$SITE_ROOT.$mobile_siteRoot.$SITE_HEADER.1.1.$TINY_MENU.0.1.1", :x1 => "14.25", :x2 => "35.75", :y1 => "14.25", :y2 => "35.75"}
              %ul.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenu2"}
                %li
                  %a{:href => "#main_tab"} ГЛАВНАЯ
                %li
                  %a{:href => "#service"} УСЛУГИ
                %li
                  %a{:href => "#about"} О КОМПАНИИ
                %li
                  %a{:href => "#contacts"} КОНТАКТЫ

          .col-xs-12.col-md-6
            .row
              .col-xs-12.relative.right-header-content
                .contacts.relative
                  .contacts-container
                    %span.text-center Выезжаем по звонку
                    %span.bold.text-center +7 (495) 000 00 00
                    %span.bold.text-center ОБРАЩАЙТЕСЬ,
                    %span.text-center ​чтобы узнать примерную стоимость
                  .left-shadow
                  .right-shadow
                .person
                  %img{ src: image_path('person.png') }
    %main#main
      .container-fluid
        .row
          .col-xs-12
            = yield
    %footer.footer
      .container-fluid
        .row
          .col-xs-12
            .socials
              -#%img{ src: image_path('twitter.png') }
              %img{ src: image_path('facebook.png') }
            .footer-text
              © 2023 «ЗОЛОТЫЕ РУКИ». Сайт создан на
